{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title + ' ' + site.name %}
{% set introSummary = content %}

{% set peopleItems = collections.people %} 

{% block content %} 
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      <header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
        <div class="[ wrapper ] [ sf-flow ]">
          <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
          {% if introSummary %}
            <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
          {% endif %}
        </div>
      </header>
    </article>
    <div style="overflow: hidden;">
      <svg
        preserveAspectRatio="none"
        viewBox="0 0 1200 120"
        xmlns="http://www.w3.org/2000/svg"
        style="fill: #22547c; width: 125%; height: 75px;"
      >
        <path d="M1200 120L0 16.48V0h1200v120z" />
      </svg>
    </div>

    <div class="[ wrapper ] [ flow pad-top-700 pad-bottom-700 ]">
      <h2 class="[ headline ] [ measure-micro color-quinary pad-bottom-300 ]" data-highlight="dark">Meet the team</h2>
      {% include "partials/components/people.njk" %}
    </div>

    {% include "partials/components/cta.njk" %}
  </main>
{% endblock %}

{{ content | safe }}
